@using MapBul.DBContext
@model category
<div class="ibox">
    <div class="ibox-title">
        <h3>Новая категория</h3>
    </div>
    <div class="ibox-content">
        <form action="" method="POST" id="NewCategoryForm" enctype="multipart/form-data">
            <div class="form-group">
                <label class="control-label">Имя категории</label>
                @Html.TextBoxFor(m => m.Name, new Dictionary<string, object> {{"placeholder", "Название"}, {"required", ""}, {"class", "form-control"}})
            </div>
            <div class="form-group">
                <label class="control-label">Родительская категория</label>
                @Html.DropDownListFor(m => m.ParentId, ((List<category>) ViewBag.Categories).Select(c => new SelectListItem {Value = c.Id.ToString(), Text = c.Name}).Concat(new List<SelectListItem> {new SelectListItem {Text = "Нет", Value = "null"}}), new Dictionary<string, object> {{"data-placeholder", "Выберите категорию"}, {"class", "form-control chosenselect"}})
            </div>
            <div class="form-group">
                <label class="control-label">Иконка категории <br/> (Оптимальный размер иконки 120х120, иконки других размеров масштабируются до указанного)</label>
                <input id="NewCategoryIconInput" required="" name="categoryIcon" type="file" accept="image/jpeg, image/png" class="fileinput"/>
            </div>
            <div class="form-group">
                <input id="NewCategoryFormSubmit" type="button" class="btn btn-primary" value="Сохранить"/>
            </div>
        </form>
    </div>
</div>

