@using System.Web.Optimization
@using Newtonsoft.Json
@using MapBul.Web.Resource
@model MapBul.Web.Models.MapInfoModel


<div class="panel">
    <div class="panel-heading">
        <h3>@Resource.Pins v 1.0.3</h3>
    </div>
    <div class="panel-body">
        <div class="row text-center">
            <div id="GMap" style="width: 80%; height: 700px; margin: auto;"></div>
        </div>
    </div>
</div>

@section Styles{
}

@section Scripts{
    <script type="text/javascript">

        var map;
        var markers = @(Html.Raw(JsonConvert.SerializeObject(Model.Markers.Select(m=> new {m.Lat,m.Lng,m.Name}))));
        var markerImage = 'Images/mapmarker.png';
    </script>
    <script src="https://maps.googleapis.com/maps/api/js" type="text/javascript"></script>
    @Scripts.Render("~/CustomScripts/Index")
}