@using MapBul.Web.Resource
<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0; vertical-align: middle;" >
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        </div>
        <div style="margin: auto; float: right; padding: 8px 150px 8px 0">
            <a href="@Url.Action("Logout", "Login")" class="btn btn-primary">@Resource.LogOut</a>
        </div>
    </nav>
</div>